@import './reset.css';
.menu{
	height:100vh;
	width:300px;
	background-color: #DCDCDC;
	float:left;
}

.content{
	width:100vw;
	height:100vh;
	background-color: rgb(240,255,255	)
}
.menu .title .imgStyle {
     width: 50px;
 }

 .menu .title .min_picture {
   
     background: url('../image/dice.jpg') no-repeat;
     background-size: 50px auto;
     height: 50px;
     width: 50px;
     display: inline-block;
 }
  .title {
     /*這邊的寬度100%是抓menu設定的寬度*/
     width: 100%;
     /*寫一個適合的高度*/
     height: 100px;
     /*設定底色為#4A4A4A*/
     background-color: #4A4A4A;
 }

.menu .link{
   width: 100%;
   position: absolute;
   left: 0;
   bottom: 0;
 }

.menu .link div {
     height: 20px;
     width: 20px;
     display: inline-block;
 }

 .menu .link .fb {
     background: url('../image/fblogo.png') no-repeat;
     background-size: auto 20px;
 }	

 .menu .link .github {
     background: url('../image/github.png') no-repeat;
     background-size: 20px auto;
 }

 .menu .link .instagram {
     background: url('../image/instagram.png') no-repeat;
     background-size: 20px auto;
 }